/* color variables */
:root {
  --peach: #ee8b8b;
  --dusty-rose: #ce9898;
  --grey-red: #423a3a;
  --error-red: #f96464;
  --start: #f8bfbf;
  --end: #ee8b8b;
  --peach-gradient: linear-gradient(145deg, (var(--start)), (var(--end)));

  --start-light: #f8bfbf59;
  --end-light: #ee8b8b22;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-family: Josefin Sans;
  /* background: linear-gradient(45deg, var(--start-light), var(--end-light)),
    url(images/bg-pattern-desktop.svg); */
  background: url(images/bg-pattern-desktop.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  position: relative;
}

.hero-image-desktop {
  margin-top: -28.3vh;
  width: 100%;
}

.hero-image-mobile {
  display: none;
}

section {
  height: 100vh;
  padding: 5% 15%;
}

.logo {
  padding: 5% 15%;
  width: fit-content;
}

.title {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;

}

.title span {
  color: var(--dusty-rose);
  font-weight: 300;
}

.copy {
  width: 105%;
  font-size: 16px;
  color: var(--dusty-rose);
  line-height: 2;
  font-weight: 300;
  margin: 30px 0px;
}

form {
  height: 50px;
  display: flex;
  position: relative;
  /* to align the button with the input element   */

}

input {
  border: none;
  outline: 2px solid var(--dusty-rose);
  border-radius: 30px;
  width: 92.5%;
  height: 100%;
  margin-bottom: 10px;
  padding: 15px 15px 15px 20px;
  font-family: inherit;
}

input::placeholder {
  color: var(--dusty-rose);
  font-family: inherit;
}

input:active {
  outline: 2px solid var(--dusty-rose);
}

.error-image {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  display: none;
}

.user-feedback {
  margin-top: 10px;
}

.error-message {
  padding: 15px;
}

.error {
  outline: 2px solid var(--error-red);
}

.success {
  outline: 2px solid rgb(20, 209, 20);


  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 75%;
    /* this was done to perfectly align the button over the input tag */

    /* display: inline; */
    background: linear-gradient(45deg, var(--start), var(--end));
    border-radius: 30px;
    border: none;
    padding: 10px 35px;
    /* margin-left: -50px; */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  button:hover {
    cursor: pointer;
    background: #f8bfbf;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  button::after {
    opacity: 0;
    transition: all 0.2s;
  }

  /* button interaction realistic click feel */
  button:active,
  button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }

  /* RESPONSIVENESS */

  /* Mobile */
  @media (max-width: 600px) {
    body {
      background: linear-gradient(45deg, var(--start-light), var(--end-light));
    }

    section {
      width: 100%;
      padding: 0%;
      text-align: center;
      margin-top: 2em;
    }

    .error-message {
      text-align: left;
      width: 90%;
      margin: auto;
    }

    main {
      flex-direction: column;
    }

    .copy {
      margin: 2em auto;
      width: 95%;
      font-weight: 600;
      line-height: 1.5;
    }

    .hero-image-mobile {
      display: block;
      width: 100%;
    }

    .hero-image-desktop {
      display: none;
    }

    form {
      width: 90%;
      margin: auto;
    }

    input {
      width: 100%;
    }

    .error-image {
      left: 75%;
    }

    button {
      left: 100%;
      padding: 20px;
      transform: translateX(-100%);
    }
  }
}